#header
{
background-color:#000;
height:50px;
width:inherit;
font-family:Verdana;
color:#FFF;
font-size:2em;
font-weight:bold;
}
#login
{
background-color:#FF0000;
height:50px;
width:70px;
float:right;
position:relative;
top:-50px;
font-family:Radley,Verdana; 
color:white;
text-align:center;
cursor:pointer;
}
#login:hover
{
background-color:green;
}
#login_box
{
float:right;
border:1px solid #000;
position:relative;
right:-70px;
height:100px;
display:none;
padding:15px;
}
#loginbutt
{
position:relative;
left:50px;
background-color:blue;
color:#FFF;
font-family:Radley,Verdana;
width:50px;
padding:5px;
cursor:pointer;
text-align:center;
}
div img
{
height:100px;
width:100px;
}
#forbes,#wsj,#huffpost,#time,#gq,#vf,#popsci,#nyt
{
display:inline-block;
height:100px;
width:100px;
padding:10px;
//background-color:blue;
position:relative;
left:150px;
top:100px;
}
#page1,#page2
{
height:300px;
width:800px;
background-color:#2ECCFA;
}
#banner
{
font-family:Radley;
font-size:2em;
position:relative;
top:120px;
left:320px;
}
#slideshow
{
height:300px;
width:800px;
overflow-x:scroll;
overflow-y:hidden;
position:relative;
margin:auto;
top:100px;
}
#slideshow ul
{
width:2400px;
list-style:none;
}
#slideshow ul li
{
float:left;
}
#slideshow-nav
{
width:300px;
visibility:hidden;
position:relative;
top:50px;
left:630px;
}
#slideshow-nav ul
{
width:300px;
list-style:none;
}
#slideshow-nav ul li
{
float:left;
}
#slideshow-nav ul li a
{
display:block;
margin-left:5px;
height:10px;
width:10px;
border-radius:5px;
background-color:black;
}